<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />
	<context:component-scan base-package="es.curso.ejemplo" />
	
	<bean id="radio1" class="es.curso.ejemplo.Radio">
		<property name="marca" value="Sony"></property>
		<property name="modelo" value="THX"></property>
		<property name="volumen" value="0"></property>
	</bean>
	
	<bean id="radio2" class="es.curso.ejemplo.Radio">
		<property name="marca" value="Samsung"></property>
		<property name="modelo" value="ADD"></property>
		<property name="volumen" value="0"></property>
	</bean>
	
	<bean id="coche" class="es.curso.ejemplo.Coche">
		<property name="marca" value="Ford"></property>
	</bean>
</beans>
