<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="radio" class="es.curso.dependencias.Radio"
		p:marca="Sony2" p:modelo="RTR" />
		
	<bean id="motor" class="es.curso.dependencias.Motor"
		p:marca="BWM" p:potencia="1500" />
		
	<bean id="coche" class="es.curso.dependencias.Coche"
		p:motor-ref="motor" p:radio-ref="radio" />
</beans>
