<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"> 
  
<bean id="user" class="ejemplo.inyeccion.dependencias.User" >       
<constructor-arg name="nombre" value="Jose" />        
<constructor-arg name="edad" value="24"/>       
<constructor-arg name="pais"  value="España"/>    
</bean> 
 
</beans>
