<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="guitarra" class="org.ejemplo.modelo.Guitarra"></bean>
    <bean id="bateria" class="org.ejemplo.modelo.Bateria"></bean>
    <bean id="roger" class="org.ejemplo.modelo.Musico">
        <property name="nombre" value="Roger"></property>
        <property name="instrumento" ref="bateria"></property>
    </bean>
    <bean id="anne" class="org.ejemplo.modelo.Musico">
        <property name="nombre" value="Anne"></property>
        <property name="instrumento" ref="guitarra"></property>
    </bean>
    <bean id="publico" class="org.ejemplo.modelo.Publico"></bean>

    <!-- Agrupo todos los consejos en un punto de corte, porque están todos 
        ligados al mismo -->
    <aop:config>
        <aop:aspect ref="publico">
            <aop:pointcut
                expression="execution (* org.ejemplo.modelo.Instrumento.play(..))"
                id="actuacion" />
            <aop:before method="tomarAsiento" pointcut-ref="actuacion" />
            <aop:before method="apagarTelefonos"
                pointcut-ref="actuacion" />
            <aop:after-returning method="aplaudir"
                pointcut-ref="actuacion" />
            <aop:after-throwing method="protestar"
                pointcut-ref="actuacion" />
        </aop:aspect>
    </aop:config>
</beans>
